<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.model2.mvc.service.category.CategoryDAO">
	
	 <select id="getCategoryHierarchy"	parameterType="int"	resultType="category">
		SELECT	c1.CATEGORY_ID categoryId
			,	c1.PARENTS_ID parentsId
			,	c1.name
			,	c1.depth
		FROM 	category c1
			INNER JOIN category c2
			ON	c1.parents_id = c2.category_id
		WHERE	c1.category_id = #{categoryId}
	 </select>
	 
	
</mapper>