<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.model2.mvc.service.product.ProductDAO">
 	
	<resultMap id="productSelectMap" type="product">
		<result property="fileName" column="IMAGE_FILE" jdbcType="VARCHAR"/>
		<result property="manuDate"	column="MANUFACTURE_DAY" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="VARCHAR" />
		<result property="prodDetail" column="PROD_DETAIL" jdbcType="VARCHAR" />
		<result property="prodName" column="prod_name" jdbcType="VARCHAR" />
		<result property="prodNo" column="PROD_NO" jdbcType="NUMERIC" />
		<result property="regDate" column="REG_DATE" jdbcType="VARCHAR" />
		<result property="proTranCode" column="State" jdbcType="VARCHAR" />
		<result property="category.categoryId" column="CATEGORY_ID" jdbcType="NUMERIC" />
		<result property="category.name" column="NAME" jdbcType="VARCHAR" />
		<result property="category.depth" column="DEPTH" jdbcType="NUMERIC" />
	</resultMap>
	
	<insert id="insertProduct"	parameterType="product" >
	 	INSERT 
	 	INTO	product (
	 						prod_no
	 					,	prod_name
	 					,	prod_detail
	 					,	manufacture_day
	 					,	price
	 					,	image_file
	 					,	reg_date
	 					,	category_id
		 	) VALUES(
			 		seq_product_prod_no.nextval
				,	#{prodName}
				,	#{prodDetail}
				,	#{manuDate}
				,	#{price}
				,	#{fileName}
				,	sysdate
				,	1
		 	)
	 </insert>
	 
	 <select id="findProduct" parameterType="int"	resultMap="productSelectMap">
		SELECT	p.*
			,	t.tran_status_code AS State
			,	c.*
		FROM	product p
			LEFT JOIN transaction t
			ON	t.prod_no = p.prod_no
			LEFT JOIN category c
			ON p.category_id = c.category_id
		WHERE	p.prod_no = #{prodNo}
	 </select>
	 
	 <update id="updateProduct" parameterType="product" >
	   	UPDATE	product
	   	SET
	   			IMAGE_FILE = #{fileName} 
	   		,	MANUFACTURE_DAY	= #{manuDate}
	   		,	PRICE = #{price} 
	   		,	PROD_DETAIL	= #{prodDetail}
	   		,	PROD_NAME = #{prodName}
	   	WHERE PROD_NO = #{prodNo}
	 </update>
		 
	<select id="getProductList" parameterType="search" resultType="product">								
		SELECT	* 
		FROM(	
				SELECT 	inner_table. * 
					, 	ROWNUM AS row_seq  
				FROM (
						SELECT	p.IMAGE_FILE AS fileName
							,	p.REG_DATE  AS regDate
							,	p.price
							,	p.PROD_DETAIL
							,	p.prod_no AS prodNo
							,	p.prod_name AS prodName
							,	t.TRAN_STATUS_CODE AS proTranCode
						FROM 	product p 
							LEFT JOIN transaction t 
							ON 	t.prod_no = p.prod_no									
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									 p.prod_no = #{searchKeyword}
								</if> 
								<if test="searchCondition == 1 and searchKeyword !='' ">
					 				 p.prod_name LIKE '%'|| #{searchKeyword} ||'%'
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
					 				 p.price = #{searchKeyword}
								</if>
							</where>
 							<if test="orderBy != ''"> 
								ORDER 
									BY 	price ${orderBy}
							</if> 
							<if test="orderBy == ''"> 
								ORDER 
									BY 	REG_DATE DESC
							</if>
						</if>
						) 	inner_table 
						WHERE ROWNUM &lt;= #{endRowNum} 
					)
		WHERE	row_seq 
		BETWEEN #{startRowNum} 
			AND #{endRowNum} 
	 </select>
	 
	 <select id="getProductListSearch" parameterType="search" resultType="product">
	 	SELECT	* 
		FROM(	
				SELECT 	inner_table. * 
					, 	ROWNUM AS row_seq  
				FROM (
						SELECT 	p.IMAGE_FILE AS fileName
							,	p.REG_DATE  AS regDate
							,	p.price
							,	p.PROD_DETAIL
							,	p.prod_no AS prodNo
							,	p.prod_name AS prodName
							,	t.TRAN_STATUS_CODE AS proTranCode 
						FROM 	product p 
							LEFT JOIN transaction t 
							ON 	t.prod_no = p.prod_no							
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									 p.prod_no = #{searchKeyword} AND
								</if> 
								<if test="searchCondition == 1 and searchKeyword !='' ">
					 				 p.prod_name LIKE '%'|| #{searchKeyword} ||'%' AND
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
					 				 p.price = #{searchKeyword} AND
								</if>
								t.prod_no IS NULL
							</where>
 						<if test="orderBy != ''"> 
								ORDER 
									BY 	price ${orderBy}
							</if> 
							<if test="orderBy == ''"> 
								ORDER 
									BY 	REG_DATE DESC
							</if>
						</if>
						) inner_table 
						WHERE	ROWNUM &lt;= #{endRowNum} 
					)
		WHERE	row_seq 
		BETWEEN #{startRowNum} 
			AND #{endRowNum} 
	 </select>
		 
	 <select id="getTotalCountSearch" parameterType="search" resultType="int">
	 	SELECT 	COUNT(*)
	 	FROM(
	 			SELECT	*
	 			FROM	product p 
					LEFT JOIN transaction t
					ON 	t.prod_no = p.prod_no
				<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									 p.prod_no = #{searchKeyword} AND
								</if> 
								<if test="searchCondition == 1 and searchKeyword !='' ">
					 				 p.prod_name LIKE '%'|| #{searchKeyword} ||'%' AND
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
					 				 p.price = #{searchKeyword} AND
								</if>
								t.prod_no IS NULL
							</where>
 							<if test="orderBy != ''"> 
								ORDER BY price ${orderBy}
							</if> 
							<if test="orderBy == ''"> 
								ORDER BY p.prod_no 
							</if>
						</if>
			) countTable
	 </select>
	
	 <select id="getTotalCount" parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	
	  			SELECT *
				FROM	product p 
					LEFT JOIN transaction t
					ON 	t.prod_no = p.prod_no
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									 p.prod_no = #{searchKeyword}
								</if> 
								<if test="searchCondition == 1 and searchKeyword !='' ">
					 				 p.prod_name LIKE '%'|| #{searchKeyword} ||'%'
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
					 				 p.price = #{searchKeyword}
								</if>
							</where>
						</if> 
						<if test="searchCondition == null">
						</if>) countTable						
	 </select>

	 
</mapper>